body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 3em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #60a5fa;
  text-decoration: none;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

.interactive-pool {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.stone {
  background-color: #444;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.stone:hover {
  background-color: #60a5fa;
}

button {
  padding: 10px 20px;
  background-color: #60a5fa;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 20px 0;
}

button:hover {
  background-color: #2d4d6f;
}

footer {
  background-color: #222;
  padding: 20px;
  text-align: center;
}
